<div class="container" ng-controller="HomeController">
  <div class="row row-content">
    <div class="col col-sm-3 col-xs-12">
      <h3 align="center">Our Hand-picked Recipe</h3>
    </div>
    <div class="col col-sm-9 col-xs-12">
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">{{featuredRecipe.name}}</h2>
          <p>{{featuredRecipe.description}}</p>
        </div>
        <div class="media-left media-middle">
          <a ui-sref="app.recipedetail({id:featuredRecipe.id})"><img class="media-object img-thumbnail z-media-img" src="{{featuredRecipe.image}}"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-content">
    <div class="col col-sm-9 col-xs-12">
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object img-thumbnail img-responsive z-media-img" src="{{featuredSpecialist.image}}">
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{featuredSpecialist.name}}</h2>
          <p>{{featuredSpecialist.description}}</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-3 col-xs-12">
      <h3 align="center">Meet our featured Specialist</h3>
    </div>
  </div>
</div>
