<div class="container" ng-controller="RecipeDetailController">
  <div class="row row-content">
    <div class="col col-sm-12">
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object img-responsive img-thumbnail z-media-img" src="{{recipe.image}}">
        </div>
        <div class="media-body">
          <h2>{{recipe.name}}</h2>
          <p>{{recipe.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h2>Ingredients</h2>
      <!-- <dl class="dl-horizontal">
        <div ng-repeat="(item,quantity) in recipe.ingridients">
          <dt>{{item}}</dt>
          <dd>{{quantity}}</dd>
        </div>
      </dl> -->
      <div class="table-responsive">
        <table class="table table-striped table-condensed">
          <tr ng-repeat="(item,quantity) in recipe.ingridients">
            <td>{{item}}</td>
            <td>{{quantity}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col col-sm-3 col-xs-12">
      <div class="row">
        <div class="col-sm-12" align="center">
          <img src="{{author.image}}" class="img-circle z-media-img" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>
            {{author.description}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-12">
      <h2>Method</h2>
      <ul>
        <div ng-repeat="step in recipe.procedure">
          <li>
            {{step}}
          </li>
        </div>
      </ul>
      <br />
    </div>
  </div>
</div>
